/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 23, 2023, 2:30:53 PM
    Author     : samet
*/

html {
    margin: auto;
}

body {
   display: block;
   font-family: monospace;
   background-color: bisque;
}


.asteroid_gui_container h1{
   text-align: center;
}
h2{
    border-style: solid;
    border-radius: 1.5rem;
    border-color: wheat;
    background-color: wheat;
    text-align: center; 
    border-width: 100px;
}
.asteroid_gui_container .gif{
    padding-top: 50px;
    border-radius: 1.5rem;
    display:flex;
    justify-content: center;
}
.p{
    font-family: sans-serif;
    font-size: 8px;
    gap: 10px;
}
form{
   margin-top: 200px;
    display:flex;
    gap: 20px;
    font-family: sans-serif;
    font-size: 25px;
    justify-content: center;
  
}
form .text{
   
    border-style: solid;
    border-radius: 3rem;
    border-color: wheat;
    width: 300px;
}

form .btn{
     border-style: solid;
    border-radius: 5rem;
    border-color: wheat;
    background-color: gray;
    width: 200px;
}

form .btn:hover{
     border-style: solid;
    border-radius: 3rem;
    border-color: wheat;
    background-color: green;
    width: 200px;
}

form .gui{
    border-style: solid;
    border-color: wheat;
    border-width: 100px;
    border-radius: 1.5rem;
    background-color: wheat;
    display:flex;
    gap: 20px;
    font-family: sans-serif;
    font-size: 25px;
    justify-content: center;
}